{% for project in projects %}
    <a href="{% url 'project_detail' project.slug %}">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2">
                        <img src="{{ project.logo.url }}" />
                    </td>
                    <td>
                        {{ project.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ project.description }}
                    </td>
                </tr>
            </tbody>
        </table>
    </a>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
